@use 'guide.sass'

// Main container
.main
	width: 100%
	height: 100%
	display: grid
	grid-template-columns: 1.5fr 1fr
	grid-template-rows: 1fr 3fr
	font-family: guide.$primary-font

// Logo and sign up sections
.logo
	@include guide.flexbox(row, null, center, null)
	grid-column: 1 / 2
	grid-row: 1 / 2

	& img
		width: 12vw
		height: 5vh
		margin-inline-start: 10vw

.sign-up
	@include guide.flexbox(column, start, start, 30px)
	grid-column: 1 / 2
	grid-row: 2 / 3
	padding-left: 10vw

.sign-up__title
	margin: 0
	font-size: guide.$lg-size
	color: guide.$dark-grayish-red
	line-height: 1.1
	letter-spacing: 1.25rem
	text-transform: uppercase
	span
		font-weight: guide.$light
		color: guide.$desaturated-red

.sign-up__description
	width: 420px
	margin: 0
	font-size: guide.$sm-size
	font-weight: guide.$semi-bold
	color: guide.$desaturated-red

.sign-up__form
	position: relative
	width: 90%
	height: 55px

#user-email
	width: 70%
	height: 85%
	padding: 10px 25px
	font-size: guide.$sm-size
	font-weight: guide.$normal
	color: guide.$desaturated-red
	border: 1px solid lightgray
	border-radius: 30px

	&::placeholder
		font-size: guide.$sm-size
		font-weight: guide.$normal
		color: guide.$desaturated-red

	&:focus
		border: 2px solid guide.$desaturated-red
		outline: none

.submit-btn
	position: absolute
	right: 20%
	width: 20%
	height: 85%
	padding: 10px
	font-size: guide.$md-size
	background: guide.$primary-gradient
	color: guide.$white
	border: none
	border-radius: 30px

	&:hover
		cursor: pointer
		box-shadow: 0 10px 10px hsla(0, 36%, 70%, 0.4)

// Hero
.hero
	grid-column: 2 / 3
	grid-row: 1 / 3
	width: 100%
	height: 100%
	background-image: url(../assets/img/hero-desktop.jpg)
	background-repeat: no-repeat
	background-size: cover

// Error email advice
.error-icon
	display: none
	position: absolute
	top: 10px
	right: calc(41%)

.email-advice--error
	display: none
	margin: 0 0 0 20px
	font-size: guide.$sm-size
	color: guide.$soft-red
