@use 'guide.sass'

// Main Container
.main-wrapper
	grid-template-columns: 1fr
	grid-template-rows: 12vh 35vh auto

// Logo Section
.logo
	grid-row: 1 / 2

.logo__img
	width: 35vw
	height: 4vh

// Hero Section
.hero
	grid-column: 1 / 2
	grid-row: 2 / 3
	width: 100%
	height: 100%

.hero__bg
	background-image: url(../assets/imgs/hero-mobile.jpg)
	background-size: cover

// Sign Up Section
.sign-up
	grid-row: 3 / 4
	padding: 30px 25px

.sign-up__container
	@include guide.flexbox(column, center, center, 20px)
	text-align: center

.sign-up__title
	font-size: 3rem

.sign-up__description
	width: auto
	font-size: 1.4rem

.sign-up__form
	width: 100%

#user-email
	width: 100%

.submit-btn
	right: 0
	width: 25%

// Error Email Advice
.error-icon
	right: calc(26%)

.email-advice--error
	margin: 0
