@import 'guide.scss';

// Logo And Sign Up Sections
.logo__img {
	margin-left: 5vw;
	width: 20vw;
}

.sign-up {
	padding-left: 5vw;
}
#user-email {
	width: 85%;
}
.submit-btn {
	right: 10%;
	width: 20%;
}

// Error Email Advice
.error-icon {
	right: calc(31%);
}

// Hero Section
.hero__bg {
	background-position: center;
}