@import 'guide.scss';

// Logo And Sign Up Sections
.logo__img {
	margin-left: 5vw;
	width: 20vw;
}

.sign-up {
	padding-left: 5vw;
}
.submit-btn {
	width: 20%;
}

// Error Email Advice
.error-icon {
	right: calc(35%);
}
